<footer>
    <div class='footer-container'>
        <div class="footer-left">
            <div class='logo'>
                <img src="/images/logo.png" alt="logo">
            </div>
            <!-- <div class='lista'> -->
                <ul>
                    <li><a href=""></a> home</li>
                    <li><a href=""></a> about</li>
                    <!-- <li><a href=""></a> Features</li>
                    <li><a href=""></a> Pircing</li>
                    <li><a href=""></a> contact us</li> -->
                </ul>
                <ul class = 'segundo-ul'>
                    <li><a href=""></a> blog</li>
                    <li><a href=""></a> Search</li>
                    <!-- <li><a href=""></a> t&Cs</li>
                    <li><a href=""></a> privacy</li>
                    <li><a href=""></a> community</li> -->
                </ul>
            <!-- </div> -->
            
        </div>

        <div class="footer-right">
            <div class='suscribite'>
                <h3>
                Recibi informacion
                </h3>
                <form action="#">
                <input type="email" id="email" placeholder="Ingresa tu email">
                <button type="submit" >Suscribite!</button>
                </form> 
            </div>
           
            <div class="social-icons">
                <img src="/images/icon-facebook.svg" alt="logo fb">
                <img src="/images/icon-instagram.svg" alt="logo ig">
                <img src="/images/icon-twitter.svg" alt="logo tw">
                <img src="/images/icon-pinterest.svg" alt="logo pinterest">

            </div>
        </div>
    </div>
    <div class='copyrights'>
        <p>
            Copyright © 2020 Farmacia S.R.L.
        </p>
    </div>

</footer>