<header>
    <div class='header-container'>
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="logo"></a>
        </div>
            <div class='titles-2' id='menu'>
                <ul>
                    <li><a class="boton-menu" href="/"> Home </a></li>
                    <li><a class="boton-menu" href="/login"> Ingresar </a></li>
                    <li><a class="boton-menu" href="/register">Crear Sesion</a></li>
                </ul>
            </div>
            <div class='imagenes'>
                <ul>
                    <li class='boton-desplegable'><a class="boton-menu" href="#"><img src="/images/boton-desplegable.png" alt=""></a></li>
                    <li><a class="boton-menu" href="/carrito"><img src="/images/carrito.png" alt=""></a></li>
                    <li><a class="boton-menu"><img src="/images/lupa.png" alt=""> </a></li>
               </ul>
            </div>
            
            

    </div>
</header>