<header>
    <div class='header-container'>
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="logo"></a>
        </div>
        <% if (typeof(user)=='undefined') { %>
        <div class='titles-2' id='menu'>
            <ul>
                <li><a class="boton-menu" href="/"> Home </a></li>
                <li><a class="boton-menu" href="/category/3"> Productos </a></li>
                <li><a class="boton-menu" href="/user/login"> Ingresar </a></li>
            </ul>
        </div>
        <% }else{ %>
        <div class='titles-2' id='menu'>
            <ul>
                <li><a class="boton-menu" href="/"> Home </a></li>
                <li><a class="boton-menu" href="/category/3"> Productos </a></li>
                <li>
                    <a class="boton-menu user" href="/user/profile">Bienvenido, <%= user.name %>! </a>
                </li>

                <li>
                    <form action="/logout" method="POST" >
                        <button type="submit" class="boton-menu cerrar-sesion">Cerrar sesion</button>

                    </form>
                </li>

            </ul>
        </div>
        <% } %>

        <div class='imagenes'>
            <ul id="ulImage">

                <input type="checkbox" id="botonMenu">
                <label for="botonMenu"><img src="/images/boton-desplegable.png" alt=""></label>
                <nav class="menu">
                    <ul>
                        <li><a class="boton-menu" href="/category/3"> Productos </a></li>
                        <li><a class="boton-menu" href="/"> Home </a></li>
                        <li><a class="boton-menu" href="/user/login"> Ingresar </a></li>
                        <% if (typeof(user)!='undefined') { %>
                        <li><a class="boton-menu " href="/user/profile"> Perfil </a></li>
                        <% } %> 
                    </ul>

                </nav>


                <li><a class="boton-menu" href="/cart"><img src="/images/carrito.png" alt=""><% if (typeof(contador)!='undefined') { %> <% if (contador.length!=0) { %>
                    <%=contador.length%> 
                <% } %>
                      <% } %> </a></li>
                <li id='search'><a class="boton-menu lupa"><img src="/images/lupa.png" alt=""> </a></li>
                <li><form method="post" action="/product/search" > <input type="text" class="buscador" placeholder=".Buscador" name="search"></form></li>
            </ul>
        </div>



    </div>
</header>