<header>
    <div class='header-container'>
        <div class="logo">
            <a href="/"><img src="/images/logo.png" alt="logo"></a>
        </div>
        <div class="titles">
            <ul>
                <li><a class="boton-menu" href="/"> Home </a></li>
                <li><a class="boton-menu" href="/login"> Ingreso </a></li>
                <li><a class="boton-menu" href="">Features</a></li>
                <li><a class="boton-menu" href="">Pircing</a></li>
                <li><a class="boton-menu" href="/carrito"><img src="/images/carrito.png" alt=""></a></li>
                <li><a class="boton-menu"><img src="/images/lupa.png" alt=""> </a></li>
            </ul>
            
        </div>
    </div>
</header>