<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productView.css">

<head>
    <%-include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styleshome.css">
    <title>Farmacia / Producto nuevo </title>
</head>

<body>
    <%-include('./partials/header.ejs') %>
    <h1>
        Ingresá tu Producto
    </h1>
    <form enctype="multipart/form-data" action="/product/create" method="post">
        <input type="text" name="nombre" placeholder="nombre producto"> <br>

        <input type="text" name="descripcion" placeholder="descripcion del producto"> <br>

        <input type="file" name="imagen"> <br>
        <button type="submit">Enviar producto </button>


    </form>







    <%-include('./partials/footer.ejs') %>

</body>

</html>