<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs') %>
    <title>Farmacia - Home</title>
    <link rel="stylesheet" href="/css/carrito.css">
</head>

<body>
    <%-include('./partials/header.ejs') %>
    <div class="carrito-total">
        <h2 class="shopping-title"> SHOPPING BAG</h2>
        <div class="vistas-de-productos">
       <div class="vista-de-producto">
            <div class="producto-elegido">
                <div class="foto-producto" >
                    <img  class="producto-elegido-img " src="/images/barbii.jpg" alt="Foto del producto"></div>
                </div>
                <div class="info-producto">
                    <p><b> Nombre producto</b></p>
                    <p>Descripcion</p>
                </div>
                <div class="precio-producto">
                    <p>$120</p>
                </div>
                <div class="contenedor-contador-de-producto">
                    
                    <div class="contador-total">
                        <button class="boton" >-</button>
                        <input type="tel" value="1" class="contador">
                        <button class="boton" >+</button>
                        </div>
                        <button class="boton">Eliminar</button>

                </div>
        </div>
        <div class="vista-de-producto">
            <div class="producto-elegido">
                <div class="foto-producto" >
                    <img  class="producto-elegido-img " src="/images/barbii.jpg" alt="Foto del producto"></div>
                </div>
                <div class="info-producto">
                    <p><b> Nombre producto</b></p>
                    <p>Descripcion</p>
                </div>
                <div class="precio-producto">
                    <p>$120</p>
                </div>
                <div class="contenedor-contador-de-producto">
                    
                    <div class="contador-total">
                        <button class="boton" >-</button>
                        <input type="tel" value="1" class="contador">
                        <button class="boton" >+</button>
                        </div>
                        <button class="boton">Eliminar</button>

                </div>
        </div>
        
        <div class="vista-de-producto">
            <div class="producto-elegido">
                <div class="foto-producto" >
                    <img  class="producto-elegido-img " src="/images/barbii.jpg" alt="Foto del producto"></div>
                </div>
                <div class="info-producto">
                    <p><b> Nombre producto</b></p>
                    <p>Descripcion</p>
                </div>
                <div class="precio-producto">
                    <p>$120</p>
                </div>
                <div class="contenedor-contador-de-producto">
                    
                    <div class="contador-total">
                        <button class="boton" >-</button>
                        <input type="tel" value="1" class="contador">
                        <button class="boton" >+</button>
                        </div>
                        <button class="boton">Eliminar</button>

                </div>
        </div>
        </div>
            <div class="informacion-de-productos-precios">
                <div class="partesuperior">
                <article>      
                    <p>Subtotal : $120 </p>
                    
                    <p>Envio : $200</p><br><br>
                    <p>Total : $120</p>
                    <br>
               
            </div>
            <div class="comprarboton">   
                  <button class="comprar">Comprar</button>
            </article></div>
            </div>
    </div>
    </section>
    <%-include('./partials/footer.ejs') %>

</body>

</html>