<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productView.css">

<head>
    <%-include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styleshome.css">
    <title>Farmacia / Producto</title>
</head>

<body class="category">
    <%-include('./partials/header.ejs') %>
    <div class="principal">
        <h1 class="title">
            Categoria 
        </h1>
    </div>
    <div>
        <div>
            <h2>Filtrar por:</h2>
            <div class="filters">
                <nav>
                    <h3>
                        Overview
                    </h3>
                    <div class="filterContent">
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                    </div>
                </nav>
                <nav>
                    <h3>
                        Design
                    </h3>
                    <div class="filterContent">
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                    </div>
                </nav>
                <nav>
                    <h3>
                        Components
                    </h3>
                    <div class="filterContent">
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                    </div>
                </nav>
                <nav>
                    <h3>
                        Utility
                    </h3>
                    <div class="filterContent">
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                    </div>
                </nav>
            </div>
        </div>
        <div>
            <img src="" alt="foto producto">
            <img src="" alt="foto producto">
            <img src="" alt="foto producto">
            <img src="" alt="foto producto">
            <img src="" alt="foto producto">
            <img src="" alt="foto producto">
        </div>
    </div>


   


    <%-include('./partials/footer.ejs') %>

</body>

</html>