<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/categoria.css">

<head>
    <%-include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styleshome.css">
    <title>Farmacia / Categoria</title>
</head>

<body>
    <%-include('./partials/header.ejs') %>
    <div class="category-container">
        <h1 class="title">Maternidad </h1>
            <div class="filters">
                <h2>Filtrar por:</h2>
                <nav>
                    <h3>Overview</h3>
                    <div class="filterContent">
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                    </div>
                </nav>
                <nav>
                    <h3>Design</h3>
                    <div class="filterContent">
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                    </div>
                </nav>
                <nav>
                    <h3>Components </h3>
                    <div class="filterContent">
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                    </div>
                </nav>
                <nav>
                    <h3> Utility </h3>
                    <div class="filterContent">
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                        <p>lalal</p>
                    </div>
                </nav>
            </div>
            <div class="imagenesProductos">
                <div class="item">
                    <img src="../images/medicamento1.jpg" alt="foto producto">
                    <p>nombre producto</p>
                </div>
                <div class="item">
                    <img src="../images/medicamento2.jpg" alt="foto producto">
                    <p>nombre producto</p>
                </div>
                <div class="item">
                    <img src="../images/medicamento1.jpg" alt="foto producto">
                    <p>nombre producto</p>
                </div>
                <div class="item">
                    <img src="../images/medicamento2.jpg" alt="foto producto">
                    <p>nombre producto</p>
                </div>
                <div class="item">
                    <img src="../images/medicamento1.jpg" alt="foto producto">
                    <p>nombre producto</p>
                </div>
                <div class="item">
                    <img src="../images/medicamento2.jpg" alt="foto producto">
                    <p>nombre producto</p>
                </div>
                                <div class="item">
                    <img src="../images/medicamento2.jpg" alt="foto producto">
                    <p>nombre producto</p>
                </div>
                <div class="item">
                    <img src="../images/medicamento1.jpg" alt="foto producto">
                    <p>nombre producto</p>
                </div>
                <div class="item">
                    <img src="../images/medicamento2.jpg" alt="foto producto">
                    <p>nombre producto</p>
                </div>

        </div>
    </div>

   


    <%-include('./partials/footer.ejs') %>

</body>

</html>