<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs') %>
    <title>Error</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%-include('./partials/header.ejs') %>
    <div  class="error" style="height: 70vh;">
        <h1>La pagina pedida no existe</h1>
    </div>
    </section>
    <%-include('./partials/footer.ejs') %>

</body>

</html>