<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs') %>
    <title>Farmacia - Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%-include('./partials/header.ejs') %>
    <!--slider con js -->
    <div class="banner">
        <div id="banner">
            <img src="/images/banner.jpg" alt="Banner homepage">
        </div>
    </div>

    <section class="imagenes">
        <article>
            <a href="/productos/higiene"><img src="/images/higiene.png" alt="Logo Higiene">
                <p>Ir a higiene</p>
            </a>

        </article>
        <article>
            <a href="/productos/perfumeria"><img src="/images/perfumeria.png" alt="Logo Perfumeria">
                <p>Ir a perfumeria</p>
            </a>

        </article>
        <article>
            <a href="/productos/medicamentos"><img src="/images/medicamentos.png" alt="Logo Medicamentos">
                <p>Ir a medicamentos</p>
            </a>

        </article>
        <article>
            <a href="/productos/insumos"><img src="/images/insumos.png" alt="Logo Insumos">
                <p>Ir a insumos</p>
            </a>

        </article>
    </section>
    <%-include('./partials/footer.ejs') %>

</body>

</html>