<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs') %>
    <title>Farmacia - Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%-include('./partials/header.ejs') %>
    <!--slider con js -->
    <div class="banner">
        <div id="banner">
            <img src="/images/banner.jpg" alt="Banner homepage">
        </div>
    </div>

      <h1>Visitá nuestros productos</h1>

    <section class="imagenes-home">
        <article>
            <a class="texto" href=/productos/higiene> Higiene </a>
            <a href="/productos/higiene"><img src="/images/higiene.png" alt="Logo Higiene">
                
            </a>

        </article>
        <article>
            <a class="texto" href=/productos/perfumeria> Perfumería </a>
            <a href="/productos/perfumeria"><img src="/images/perfumeria.png" alt="Logo Perfumeria">
                
            </a>

        </article>
        <article>
            <a class="texto" href=/productos/medicamentos> Medicamentos </a>
            <a href="/productos/medicamentos"><img src="/images/medicamentos.png" alt="Logo Medicamentos">
                
            </a>

        </article>
    
        <article>
            <a class="texto" href=/productos/insumos> Insumos </a>
            <a href="/productos/insumos"><img src="/images/insumos.png" alt="Logo Insumos">
               
            </a>

        </article>
        <article>
            <a class="texto" href=/productos/coronavirus> COVID-19 </a>
            <a href="/productos/coronavirus"><img src="/images/coronavirus.png" alt="Logo Coronavirus">
                
            </a>
        
        </article>
        <article>
            <a class="texto" href=/productos/maternidad> Maternidad </a>
            <a href="/productos/maternidad"><img src="/images/maternidad.png" alt="Logo Maternidad">
                
            </a>
        
        </article>
    </section>
    <%-include('./partials/footer.ejs') %>

</body>

</html>