<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs') %>
    <title>Farmacia - Home</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%-include('./partials/header.ejs') %>
    <!--slider con js -->
    <div class="banner">
        
            <img src="/images/banner.jpg" alt="Banner homepage">
        
    </div>

      <h1>Visitá nuestros productos</h1>

    <section class="imagenes-home">
        <article>
            <a class="texto" href='/categoria'> Higiene </a>
            <a href='/categoria'><img src="/images/higiene.png" alt="Logo Higiene">
                
            </a>

        </article>
        <article>
            <a class="texto" href='/categoria'> Perfumería </a>
            <a href='/categoria'><img src="/images/perfumeria.png" alt="Logo Perfumeria">
                
            </a>

        </article>
        <article>
            <a class="texto" href='/categoria'> Medicamentos </a>
            <a href='/categoria'><img src="/images/medicamentos.png" alt="Logo Medicamentos">
                
            </a>

        </article>
    
        <article>
            <a class="texto" href='/categoria'> Insumos </a>
            <a href='/categoria'><img src="/images/insumos.png" alt="Logo Insumos">
               
            </a>

        </article>
        <article>
            <a class="texto" href='/categoria'> COVID-19 </a>
            <a href='/categoria'><img src="/images/coronavirus.png" alt="Logo Coronavirus">
                
            </a>
        
        </article>
        <article>
            <a class="texto" href='/categoria'> Maternidad </a>
            <a href='/categoria'><img src="/images/maternidad.png" alt="Logo Maternidad">
                
            </a>
        
        </article>
    </section>
    <%-include('./partials/footer.ejs') %>

</body>

</html>