<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head.ejs') %>
    <title>Farmacia - Home</title>
</head>

<body>
    <%-include('./partials/header.ejs') %>
    <!--slider con js -->
    <div class="banner">
        <div id="banner">
        </div>
    </div>

    <section class="imagenes">
        <article>
            <img src="" alt="imagen producto">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </article>
        <article>
            <img src="" alt="imagen producto">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </article>
        <article>
            <img src="" alt="imagen producto">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>
        </article>
    </section>
    <%-include('./partials/footer.ejs') %>
   
</body>

</html>