<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productView.css">

<head>
    <%-include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styleshome.css">
    <title>Farmacia / Producto</title>
</head>

<body class="product">
    <%-include('./partials/header.ejs') %>
    
    <div class="principal">
        <div class="imageProduct">
            <img src="/images/ibu.jpg" alt="foto producto"> <!-- agregar slider con js -->
        </div>
        <div class="nameProduct">
            <h1 class="name">Nombre producto</h1>
            <p>Descripcion producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, veritatis esse
                delectus ullam in veniam. Iure esse ipsa atque ut. Provident rerum ducimus iure dolor fugiat sint eum
                quo explicabo.</p>
            <p>Precio</p>

            <form action="#">
                <div class="quantity">
                    <button id="plus">+</button>
                    <input id="quantity" name="quantity" type="text" value="1">
                    <button id="minus">-</button>
                </div>
                <div class="action">
                    <input type="submit" value="Agregar al carrito">
                </div>
            </form>
        </div>
    </div>
    <div class="related">
        <div>
            <img src="/images/ibu.jpg" alt="">
        </div>
        <div>
            <img src="/images/ibu.jpg" alt="">
        </div>
        <div>
            <img src="/images/ibu.jpg" alt="">
        </div>
    </div>



    <%-include('./partials/footer.ejs') %>

</body>

</html>