div.principal{
    max-width:1200px;
    width: 100%;
    margin: 0 auto;
}

h1.title{
    padding: 10px 30px;
}

h2{
    margin: 0 auto;
    padding: 10px 0;
}

div.container{
    display: flex;
    flex-wrap: wrap;
    max-width:1200px;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;

}

div.filters{
    max-width: 30%;
    
}
div.imagenesProductos{
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: flex-start;
    padding-top: 60px;
}

div.item{
    margin: 30px;
    background-color:white;
    border: solid 1px #dedede;
    border-radius: 15px;
    padding-top: 9px;
    padding-right: 9px;
    padding-left:9px;
}
div.item:hover{
    border: 1px solid rgba(0,69,134,0.7);
}


div.imagenesProductos img{
    width: 200px;
    height: 150px;

}

 nav h3{
    color: black;
}