.banner img {
    width: 100%;
    margin-top: 10px;
    height: 350px;
    display: flex;
}


.imagenes {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-left:100px;
    margin-right:100px;
    margin-bottom: 100px;
    font-family: 'Open Sans', sans-serif;
   
}
section.imagenes article {
    width: 13%;
}

.imagenes img{
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
}

h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 65px;
    color: #55C24B;
    font-weight: bold;
}

