.banner img {
    width: 100%;
    margin-top: 10px;
    height: 350px;
    display: flex;
}


.imagenes {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    max-width:1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin:30px auto;
    font-family: 'Open Sans', sans-serif;
   
}
section.imagenes article {
    width: 30%;
    background-color:white;
    border: solid 1px #dedede;
    border-radius: 15px;

}

section.imagenes article a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagenes img{
    justify-content: space-between;
    width: 100px;
    padding:30px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
}

h1{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 65px;
    color: #55C24B;
    font-weight: bold;
}

