

div.principal {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 30px auto 0 auto;
    padding: 30px 30px 60px 30px;
    border: #E5E5E5 solid;
    border-radius: 15px;
    border-width: 1px 1px 1px 0.5px;
}

div.imageProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

div.nameProduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    align-self: start;
    flex-direction: column;
}

div.quantity {
    padding: 20px 0;
}

div.quantity input {
    border: 1px solid black;
    width: 25px;
    text-align: center;
    background-color: hsl(0, 0%, 98%);
}

div.quantity button {
    border: 1px solid black;
    width: 25px;
    text-align: center;
    background-color: hsl(0, 0%, 98%);
}

div.action input {
    display: block;
    color: white;
    height: 35px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    font-size: 10px;
    background: #55C24B;
    border-width: 0px;
    border-style: none;
    padding: 0px 15px;
    border-radius: 0px;
}
div.action input:hover{
    background-color:#55A24B;
}

div.principal img {
    width: 400px;
    height: 400px;
}


div.related {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
    justify-content: space-between;
    padding: 20px;
    border: #E5E5E5 solid;
    border-radius: 15px;
    border-width: 1px 1px 1px 0.5px;
}
div.related h2{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    font-weight: normal;
}
div.related img {
    width: 290px;
    height: 200px;
}
div.edit{
    display: none;
    width: 100%; 
    margin: 30px 0;
 
    justify-content: center;
    flex-wrap: wrap;
}

div.edit form {
width: 80%;
margin: auto;

}
div.edit h2{
    text-align: center;
}
div.edit form input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
}
div.edit button{
    color: white;
    border-color: #959595;
    border-radius: 5px;
    background-color: #004586;
    padding: 8px 15px;
    font-size: 18px;
    margin-top: 15px;
}

div.edit textarea{
    border: black solid 2px;
}
div.botonesAdmin{
    display: flex;

}
div.botonesAdmin button{

        color: white;
        border-color: #959595;
        border-radius: 5px;
        background-color: #004586;
       
        font-size: 15px;
        margin-top: 20px;
        height: 30px;
    
}
@media(max-width:1000px){
    div.imageProduct{
        width: 100%;
    }
    div.nameProduct{
        width: 100%;
    }
}
@media(max-width:767px){
    div.related {
        display: block; 
        margin: auto;
        text-align: center;
    }

    
    div.principal img {
        width: 200px;
        height: 200px;
    }

}
