div.total{
    max-width: 1200px;
    width:100%;
    margin: 0 auto;

}
div.contenedor-parcial-profile{
    border-radius: 21px;

    border: #E5E5E5 solid 1px;

    max-width: 1200px;
    margin: 0 auto;

    background-color: white;
    margin-top: 20px;

}
div.compras{
    margin-bottom:20px;
}
h2{
    text-align: center;
    display:block;
}

.showEdit {
    display: none;
    
}


div.contenido{
    width: 100%; 
    margin: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.contenido form {
width: 80%;

}
div.contenido form input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
}
div.contenido button.boton,button.edicionUsuario{
    color: white;
    border-color: #959595;
    border-radius: 5px;
    background-color: #004586;
    padding: 8px 15px;
    font-size: 18px;
    margin-top: 15px;
}

div.contenido textarea{
    border: black solid 2px;
}
div.contenido input.image{
    margin: 0 0 15px -8px;
}
div.informacion{
    display:flex;
    justify-content: space-between;
    padding: 0 50px;
    margin-bottom:50px;
}
img#avatar{
    max-width:370px;
}
div.informacion div{
    width:65%;
}

div.address-form {
    background-color: white;
    border: 1px solid #E5E5E5;
    width: 500px;
    max-width: 80%;
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    padding:10px;
    border-radius: 15px;
    transition: 200ms ease-in-out;
    display:none;
}
div.form-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    margin:0 auto;
}
div.form-header button{
    border: none;
    background: none;
    outline: none;
    cursor:pointer;
    font-weight: bold;
    font-size: 1rem;
}
div.form-title{
    color:#959595;
    font-size: 1rem;

}
form#addAddress {
    width:80%;
    margin:0 auto;
}
form#addAddress div {
width:100%;
}

form div.tres{
    display: flex;
    justify-content: space-between;
}
form div.tres input{
    width: 30%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 8px;
}
form div.uno input{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    border-radius: 8px;
}
div.buttons button{
    color: white;
    border-color: #959595;
    border-radius: 5px;
    background-color: #004586;
   
    padding: 8px 15px;
    font-size: 18px;
}
div.buttons button:hover{ 
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: #004586
        
}
div#overlay{
    position:fixed;
    display:none;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.4);
    /* pointer-events: none; */
    transition: 200ms ease-in-out

}