<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productView.css">

<head>
    <%-include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styleshome.css">
    <title>Farmacia / Usuario</title>
</head>

<body>
    <%-include('../partials/header.ejs') %>
<div>


    <div>
        <h2> <%= user.nombre + user.apellido %>  </h2>

    </div>

    <div>

    
    </div>
    
    <div>


    </div>

</div>


    <%-include('../partials/footer.ejs') %>

</body>

</html>